KudvencatCarService/CarClient/Connected Services/CarServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearOfProduction" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EngineType" type="tns:EngineType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:simpleType name="EngineType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Electric">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OilFuel">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EngineType" nillable="true" type="tns:EngineType" />
  <xs:complexType name="ElectricCar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Car">
        <xs:sequence>
          <xs:element minOccurs="0" name="RangeInKilometers" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElectricCar" nillable="true" type="tns:ElectricCar" />
  <xs:complexType name="OilFuelCar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Car">
        <xs:sequence>
          <xs:element minOccurs="0" name="EnginePower" type="xs:int" />
          <xs:element minOccurs="0" name="EngineСС" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OilFuelCar" nillable="true" type="tns:OilFuelCar" />
</xs:schema>